*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    
}

body{
    display: flex;
    /* height: 100vh; */
    overflow-x: hidden;
    overflow-y: auto;
}

.main-content {
    background-color: #e6f2ff;
    color:#2e2e2e;
    padding: 20px;
    margin-left: 250px; /* To make space for the sidebar */
    padding: 20px;
    width: calc(100% - 250px); /* Take the remaining width */
    overflow-y: auto; /* Enable scrolling if content overflows vertically */
    flex-grow: 1;
    transition: margin-left 0.3s ease, width 0.3s ease; /* Smooth transition for content resize */
    
}

.sideBar.collapsed + .main-content{

    margin-left:80px;
    width: calc(100% - 80px);
    overflow-y: auto;
}

/* .grid-container{
    display:grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(8, 1fr);
    height: auto;
    row-gap: 20px;
    border: solid #2e2e2e;
    padding: 20px;
    
} */

.search-date{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    font-weight: 500;
}

.search-date :first-child{
    margin-right: 30px;
}

.search-date input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #2e2e2e;
    padding-left: 10px;
    margin-right: 20px;
}

.search-date button{
    width: 150px;
    background-color: #2f528c;
    border-radius: 10px;
    border: none;
    min-width: 50px;
    color: white;
}

.appointments{
    display: grid;
    /* grid-template-columns: repeat(200px,auto);
    grid-template-rows: repeat(auto); */
    gap: 20px;
    margin-top: 20px;
   
}

.appointment-card{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
    row-gap: 10px;
    
    /* margin-top: 20px; */
    justify-content: center;
    align-items: center;
    background-color: azure;
    padding: 5px;
   
}

.appointment-card div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.appointment-card button{
    max-width: 100px;
    height: 30px;
    background-color: #2f528c;
    border-radius: 8px;
    border: none;
    min-width: 50px;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    font-weight: 500;

}