/* General Reset */


body {
    display: flex;
    overflow: hidden;
}


.main-content {
    flex: 1;
    background-color: #e6f2ff;
    padding: 20px;
    overflow-y: auto;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.large-card {
    grid-column: span 2;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100px;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}
