*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
    
      
}

.wrapper{
    background-color: #ffffff;
    display:flex;
    position: relative;
    flex-direction: row;
    width: 100%;

}

.sidebar{
    position: fixed;
    width: 150px;
    height: 100%;
    background:#197de0;
    padding: 50px;
    padding-top: 200px;


}

.sidebar li{
    padding: 20px;
}




.sidebar li img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition for hover effects */
}

.sidebar li img:hover {
    transform: scale(2.0); /* Scales the image slightly */
    opacity: 0.8; /* Reduces the opacity slightly */
    transform: scale(1.1); /* Scales the image slightly */
    opacity: 0.8; /* Makes the image slightly transparent */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); /* Adds a shadow */
}

.main-content{
    
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    /* height: 100%; */
    align-items: flex-start;

}

.searchBar button{
    background-color: #3479e9;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    width: 60%;
    height: 33px;
    font-size: 15px;
    
}


.searchBar{
    padding: 20px;
    

}

/* .searchBar input{
width: 500px;
height: 33px;
background-color: #d5dfe9;
border-top-left-radius: 8px;
border-bottom-left-radius:8px ;
border: none;
text-align: center;


} */

/* .searchBar button{
    margin-left: -5px;
    height: 33px;
    width: 50px;
    background-color: #d5dfe9;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    border: none;

} */

/* .searchBar button[type="submit"]:hover {
    background-color: #dfe5eb;
    transform: scale(1.05); 
} */

/* .searchBar button img{
    width:12px;
    height: 12px;;
} */

.doctorName{
    margin-top: 10px;
    padding-left: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

    
}

#username{
    font-family: Arial, Helvetica, sans-serif;
    color: #0d00f4;
    font-size:23px ;
}


.left_container{
    /* border: 5px solid; */
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 360px;

}


.left_bottom{
    height: 400px;
    /* background-color: rgb(226, 229, 229); */
    width: 950px;
    margin-left: 0px ;
    display: flex;
    flex-direction: row;
}

.statistics{
display: flex;
flex-direction: row;
width: 950px;
height: 200px;
background: linear-gradient(90deg, #a9c2ef, #3479e9);
margin: 20px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;

}

.statistics-image {
    margin-left:50px ;
    width: 400px; /* Adjust size as needed */
    height: 200px; /* Adjust size as needed */
    display: flex;
    align-items: center; /* Vertically align the image inside its container */
    justify-content: center; /* Horizontally align the image inside its container */
}

.statistics img{
    margin-bottom: 40px;
    margin-left: 50px;
    width: 250px;
    height: 300px;

}

.statistics_numbers{
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    width:500px;
    height: 200px;
}

.statistics_numbers_head{
    text-align: center;
    width: 500px;
    height: 80px;
}

.statistics_numbers_head h3{
    padding-top:10px ;
    /* margin-left: 200px; */
    font-size: 25px;
}

.statistics_numbers_head span{
    /* margin-left: 240px; */
    font-size: 25px;
}

.statistics-percentage{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    height:120px ;
    width:500 ;
}

.statistics-percentage-left{
    margin-left: 30px;
font-size: 17px;
border-radius: 5px;
background-color: #ffffff;    
text-align: center;
padding-top: 30px;
width: 400px;
height:110px;
padding-bottom: 5px;
}

.statistics-percentage-right{
font-size: 17px;
border-radius: 5px;
background-color: #ffffff;
text-align: center;    
padding-top: 30px;
margin-left: 250px;
width: 400px;
height:110px;
padding-bottom:5px ;
}

.patientList {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    margin-left: 10px;
    background-color: #b0c6dfa9;
    height: 100%;
    border-radius: 10px;


    }

.patientList-header{
    
    display: flex;
    flex-direction: row;

}

.patientList-header h2{
    margin-left: 10%;
}

.patientList-header h3{
    font-weight: bold;
    margin-left: 45%;
    color: #1308e2e3;
    padding: 5px;
}

.consultations{
    margin-left: 10px;
    width: 50%;
    height: 100%;
    background-color: #b0c6dfa9;
    border-radius: 10px;
    /* border: 1px solid black; */
    height: 100%;
}

.consultations-header{
    text-align: center;
    font-size: 15px;
}


.calendar {
    width: 95%;
    background: #b0c6dfa9;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.calendar-header button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
}

.calendar-header h3 {
    font-size: 20px;
    margin: 0;
    
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    text-align: center;
}

.day-header {
    font-weight:lighter; 
    color: #4f8fe9;
}

.day {
    width: 30px;
    height: 30px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.day:hover {
    background-color: #ddd;
}

.current-day {
    background-color: #4f8fe9;
    color: white;
    border-radius: 8px;
}

/* .marked-day {
    background-color: red;
    color: white;
} */

/* button:focus {
    outline: none;
} */

.right_container{
    /* border: 5px solid;
    border-color: blue; */
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 370px;
    padding-top: 2%; 
    
}

.upcoming{
    border-radius: 10px;
    margin-top: 5%;
    width: 95%;
    background-color: #4f8fe9;
    

}

.upcoming-header{
    margin: 5%;
}

.upcoming-content{
    display: flex;
    flex-direction: row;
    margin: 5%;
}

.upcoming-list{

}


.upcoming-list-time{
    margin-left: 30%;
}


.logged-in{
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 90%;
    align-items: center;

}

.logged-in-header{
    margin-left: 50%;
}

.logged-in-header h4{
    font-size: 20px;
}

.logged-in-image{
    margin-left: 10%;
}

.logged-in-image img{
    width: 40px;
    height: 40px;
}
