*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
    
      
}

.wrapper{
    background-color: #ffffff;
    display:flex;
    position: relative;
    flex-direction: row;
    width: 100%;

}

.sidebar{
    position: fixed;
    width: 150px;
    height: 100%;
    background:#197de0;
    padding: 50px;
    padding-top: 200px;


}

.sidebar li{
    padding: 20px;
}




.sidebar li img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition for hover effects */
}

.sidebar li img:hover {
    transform: scale(2.0); /* Scales the image slightly */
    opacity: 0.8; /* Reduces the opacity slightly */
    transform: scale(1.1); /* Scales the image slightly */
    opacity: 0.8; /* Makes the image slightly transparent */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); /* Adds a shadow */
}

.main-content{
    
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    
    padding: 15px;

}

.searchbar button{
    background-color: #197de0;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    /* width: 60%; */
    height: 33px;
    font-size: 15px;
    width: 50px;
    height: 40px;
    margin-left: 10px;
    
}

.searchbarAndProfile{
    display: flex;
    flex-direction: row;
    
}

.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1080px;
    margin-top: 20px;
}

.profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}


.searchbar{
    padding: 5px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    position: fixed;
    margin-left: 40px;
    margin-top: 10px;
    

}

.searchbar input{
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e5e7ea;
    font-size: 15px;
    border: none;
    height: 40px;
}

.searchbar img{
    width: 20px;
    height: 20px;
    /* position: absolute; */
    /* top: 30px;
    left: 30px; */
    
}

.patientList{
    display: flex;
    flex-direction: column;
    /* padding-left: 40px;
    padding-top: 80px; */
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    /* margin-top: 0px; */
    /* position: relative; */
    margin-top: 30px;
    margin-left: 30px;
    
    
}

#patient-details{
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    /* background-color: #e5e7ea; */
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    width: 80%;
    margin-left: 30px;
}

.patient img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 20px;
    margin-left: 30px;
    
}

.patient{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    background-color: #e5e7ea;
    border-radius: 10px;
    width: 100%;
    font-size: 18px;
    height: 90px;
    
    
}

.patient_id{
margin-left: 80px;
padding: 5px;
width: 100px;

}

.patient-name{
    margin-left: 80px;
    width: 200px;
    white-space: nowrap;

}

.patient-age{
    margin-left: 80px;
    white-space: nowrap;
    width: 100px;

}

.request-access-btn{
    margin-left: 100px;
    
    

}

.request-access-btn button{
    width: 150px;
    border: none;
    color: #ffffff;
    background-color: #197de0;
    padding: 10px;
    border-radius: 8px;
    height: 40px;
    cursor: pointer; 
    font-size: 17px;
    white-space: nowrap;
}

.request-access-btn button:hover {
    background-color: #4972ec;
    color: #fff;               
}

.visit-profile-btn{
    margin-left: 50px;
    margin-right: 20px;
}

.visit-profile-btn button{
    width: 120px;
    border: none;
    color: #ffffff;
    background-color: #197de0;
    padding: 10px;
    border-radius: 8px;
    height: 40px;
    cursor: pointer; 
    font-size: 17px;
}

.visit-profile-btn button:hover {
    background-color: #4972ec;
    color: #fff;               
}